* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{ 
    background: url(../img/1209629.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

nav > ul {
    display: flex;
    justify-content: row;
    gap: 10px;
}

nav > ul > li > a {
    color: white;
    font-size: 1.5em;
}

.container > h1 {
    font-family: 'Lobster', cursive;
    color: rgb(70, 70, 70);
    font-size: 12em;
    letter-spacing: 10px;
    color: rgb(54, 54, 54); 
    text-shadow: rgb(92, 92, 92) 0.1em 0.1em 0.2em;
    margin: auto;
}